/*---------*/
.btn-dark:hover {
    color: var(--bs-primary);
    background-color: white;
    border-color: var(--bs-primary);
    transition: 0.3s;
}

#hero_image {
    max-width: 800px;
}

@media screen and (max-width: 1100px) {
    #hero_image {
        display: none;
    }
}

.services__modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 0 1rem;*/
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.services__modal-content {
    width: 500px;
    position: relative;

    background-color: var(--bs-light);
    padding: 4.5rem 2.5rem 2.5rem;
    /*border-radius: 1.5rem;*/
}

.services__modal-close {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.services__modal-close:hover {
    scale: 1.5;
    transform-style: preserve-3d;
}


.services__modal-title, .services__modal-description {
    text-align: center;
    margin-bottom: 2rem;
}

.services__modal-description {
    /* font-size: var(); */
    padding: 0.3rem;
    /*margin-bottom: var(--mb-2);*/
}

.services__modal-services {
    row-gap: 0.75rem;
    padding: 0;
!important;
}

.services__modal-service {
    display: flex;
    /*align-items: baseline;*/
    column-gap: .5rem;
    margin-bottom: 0.5rem;
}

.services__modal-info {
    text-align: justify;
}

/*active modal*/
.active {
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

/*--------*/
.numbers_item {
    text-align: center;
}

#numbers .container {
    margin: 6rem auto;
}

/*---*/

.case-study {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 0 0;
    overflow: hidden;
    width: 600px;
    height: 800px;
    margin: 20px;
    text-align: center;
    padding: 0;

}

.image-container img {
    max-width: 1450px;
    max-height: 922px;
    width: 100%;
    object-fit: cover;
}

.content {
    padding: 5px;
}

.content h1 {
    text-align: left;
    margin: 0 0 10px;
    font-size: 24px;
    color: #333;
}

.content .date {
    color: #777;
    font-size: 14px;
    text-align: left;
}

.project-tech-stack {
    margin-top: 20px;
    text-align: left;
}

.project-tech-stack h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.project-tech-stack ul {
    list-style-type: disc;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 5px;
}

.project-tech-stack li {
    margin-bottom: 5px;
    font-size: 16px;
    color: var(--bs-badge-color);
    border: 1px solid #adb5bd;
    display: inline-block;
    padding: 5px;
}

@media (max-width: 992px) {
    .case-study {
        width: 85vw;
        height: auto;
    }
}

/*-----------*/

.about_description {
    margin-top: 3rem;
    /*border: 1px solid red;*/
    font-size: 1.25rem
}

/*----------*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------*/
.scrollUp {
    position: fixed;
    right: 2.5rem;
    bottom: -20%;
    background-color: black;
    opacity: 0.8;
    padding: 0.3rem 0.5rem;
    z-index: 9999;
    transition: 0.4s;
    color: white;
}

.scrollUp:hover {
    background-color: var(--bs-gray-200);
    color: #212529;
    border: 0.5px solid var(--bs-primary);
}

.scrollUp__icon {
    font-size: 1.5rem;
    color: var(--bs-badge-color);
}

.show-scroll {
    bottom: 5rem;
}


/*-----------------*/
.tech-stack {
    width: 80%;
    justify-self: center;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 8px 15px;
    margin: 10px;
    font-size: small;
    display: flex;
    align-items: center;
    transition: transform 0.3s;
    text-decoration: none;
    color: inherit;
}

.icon img {
    height: 24px;
    margin-right: 10px;
}

.icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/*----------------*/
.scrollable-cards-container {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.scrollable-cards-container .row {
    flex-wrap: nowrap;
}

.scrollable-cards-container .col-12 {
    flex: 0 0 auto;
}

#testimonials .row-cols-1 {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

#testimonials .row-cols-1::-webkit-scrollbar {
    display: none;
}

#testimonials .card {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    #testimonials .card {
        flex: 0 0 48%;
    }
}

@media (min-width: 1200px) {
    #testimonials .card {
        flex: 0 0 31%;
    }
}
