.home__container {
    min-height: 80vh;
    row-gap: 4rem;
}

.home__content {
    grid-template-columns: 100px repeat(2, 1fr);
    align-items: center;
    column-gap: 2.5rem;
    /*border: 2px solid red;*/
    /*padding-top: 3.5rem;*/
    padding-bottom: 2.5rem;
}

.home__social {
    /*border: 2px solid red;*/
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 2rem;
    color: var(--title-color);
    transition: .3s;
}

.home__social-icon:hover {
    color: var(--title-color-dark);

}

.home__social-icon:active {
    transform: scale(0.9);
}

.home_title {
    width: 30rem;

    /*border: 1px solid black;*/
    font-size: var(--bigger-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-0-25);
}

.home__hand {
    width: 50px;
    height: 50px;
}

.home__subtitle {
    font-size: var(--h3-font-size);
    position: relative;
    padding-left: 5.4rem;
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
    /*border: 2px solid red;*/
}

.home__subtitle::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    top: 1rem;
}

.home__description {
    max-width: 400px;
    margin-bottom: var(--mb-3);
    color: #5A544A;
}

.home__img {
    background: url("../../assets/profile (1).jpeg") no-repeat center;
    background-size: cover; /* or use background-size: contain; based on your requirement */
    box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.5);
    order: 1;
    justify-self: center;
    height: 300px;
    width: 300px;
    animation: profile__animate 8s ease-in-out infinite 5s;
}

@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 70%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

.home__scroll {
    border: 2px solid black;
    margin-left: 9.25rem;
}

.wheel {
    animation: scroll 2s ease infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(3.75rem);
    }
}

.home__scroll-name {
    color: var(--title-color);
    font-size: var(--font-medium);
    margin-left: 2px;
    margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
    font-size: 1.5rem;
    color: var(--title-color);
    transition: .3s;
}

@media screen and (max-width: 992px) {

    .home__content {
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.25rem;
    }

    .home_title {
        width: auto;
    }

    .home__hand {
        width: 26px;
        height: 26px;
    }

    .home__subtitle {
        padding-left: 3.75rem;
        margin-bottom: var(--mb-1);
    }

    .home__subtitle::before {
        width: 42px;
        top: 0.75rem;
    }

    .home__description {
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }

    .home__img {
        height: 250px;
        width: 250px;
        box-shadow: inset 0 0 0 8px rgba(255 255 255/ 30%);
    }

    .home__scroll {
        margin-left: 7.25rem;
    }
}

@media screen and (max-width: 768px) {
    .home__content {
        grid-template-columns:0.5fr 3fr;
        padding-top: 3.5rem;
    }

    .home__img {
        order: initial;
        justify-self: initial;
        box-shadow: inset 0 0 0 6px rgba(255 255 255/ 30%);
        width: 200px;
        height: 200px;
    }
    .home__data {
        grid-column: 1/3;
    }
    .home__scroll{
        display: none;
    }
}

/*@media screen and (max-width: 576px) {*/
/*    .home__content {*/
/*        grid-template-columns: 1fr;*/
/*        padding-top: 3.5rem;*/
/*    }*/

/*    .home__subtitle {*/
/*        padding-left: 3.25rem;*/
/*    }*/

/*    .home__subtitle::before {*/
/*        width: 35px;*/
/*        top: 0.5rem;*/
/*    }*/

/*    .home__img {*/
/*        width: 150px;*/
/*        height: 150px;*/
/*        box-shadow: inset 0 0 0 4px rgba(255 255 255/ 30%);*/
/*    }*/

/*    .home__scroll-name {*/
/*        margin-left: 0;*/
/*    }*/
/*}*/

@media screen and(max-width: 350px){
    .home__img{
        width: 180px;
        height: 180px;
    }
    .home__hand{
        width: 22px;
        height: 22px;
    }
}




































